/* Color Palette */
/* #f37057 - logo orange */
/* #6d6e71 - logo dark gray */
/* #9d9fa2 - logo light gray */
/* rgb(223, 131, 97) - main buttons unselected */
/* rgb(253, 109, 62) - main buttons selected */

* {
	font-family: helvetica;
}

/*html, body {
	height: 100%;
}*/

a {
	color: black;
	text-decoration: none;
}

.chat-padding {
	padding-bottom: 7rem;
}

.container {
	margin-left: 5px;
	margin-right: 5px;
}

/* Sidebar nav menu styles and overrides */

/* link containing sidebar button glyphicon */
#menu-toggle {
	z-index: 9999;
	margin-top: 20%;
	margin-left: 20%;
}

.sidebar-container {
	width: 50px;
	height: 0px;
}

.row-no-negative-margins {
	margin-right: 0;
	margin-left: 0;
}


/* main page FIRST PANEL */

/* logo img tag used on FuzzFinders, FuzzFeed, FuzzFile */
#main-logo {
	padding-top: 50px;
	max-width: 60%;
}

.logo-section {
	z-index: -1000;
	text-align: center;
}

.first-panel {
	margin-top: 0;
}

/*main page SECOND PANEL*/

.second-panel {
	margin-top: 10%;
}

.main-buttons {
	margin-bottom: 3%;
	background: rgb(223,131,97);
	color: white;
	font-size: 1.2em;
	border-radius: 3px;
	border: none;
	height: 50px;
}

/* add this class on click of lost/found/report button */
.selected-button {
	background: rgb(253, 109, 62) !important;
}

/* notification on lost/found pet report creation */
.notification {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-size: 1.8em;
	z-index: 9998;
}

.notification ul {
	padding-left: 0;
}

.notification li {
	padding: 0;
}

.notification li.lost {
	background-color: rgba(253, 109, 62, 0.75);
}

.notification li.found {
	background-color: rgba(46, 141, 242, 0.75);
}

/* Form Styles */

.option-buttons .form-group {
	display: inline-block !important;
	width: 49% !important;
}

.padded {
	padding: 15px 0;
}

button[type='submit'] {
	width: 100% !important;
}

.report:hover {
	cursor: pointer;
}

/* bootstrap container override to provide padding for chat widget */
/*.container {
	padding-bottom: 6rem;
}*/

/*nav .container {
	padding-bottom: 0;
}*/

.topbar-container {
	display: none;
}

.navbar {
	max-height: 50px;
	margin-bottom: 0;
}

.navbar-inverse {
	background-color: #6d6e71;
}

/* tablet */
@media (min-width: 768px) {
	.topbar-container {
		display: none;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}

/* desktop */
@media (min-width: 992px) {
	.sidebar-container {
		display: none;
	}
	.topbar-container {
		display: block;
	}
	.first-panel {
		margin-top: 50px;
	}
	.notification {
		top: 50px;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	#main-logo {
		max-width: 50%;
	}
}

/* large desktop */
@media (min-width: 1200px) {
	.sidebar-container {
		display: none;
	}
	.topbar-container {
		display: block;
	}
	.first-panel {
		margin-top: 50px;
	}
	.notification {
		top: 50px;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	#main-logo {
		max-width: 50%;
	}
}

.adjust-distance span.title {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 600;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 110%;
}

.dropdown-menu.adjust-distance {
  background-color: #666;
}
