/* styles for fuzzfinders page */

/* s3 upload styles */
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}

.map-canvas {
  /*width: 100%;*/
  height: 22rem;
}

/* reports list styles */
h3 {
  text-align: center;
}

.report {
  margin-bottom: 3%;
  border-radius: 3px;
}

.reports-list {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}

.lost-report {
  background-color: rgb(223, 131, 97);
}

.found-report {
  background-color: #2e8df2;
}

.lost-report-comment {
  background-color: #E9A890;
}

.found-report-comment {
  background-color: #82BBF7;
}

.report-img-thumb {
  width: 100%;
}

.report-summary {
  height: 6em;
}

.report-summary-text {
  font-size: 1.2rem;
}

/*.report-summary-text-column {
  margin-top: 0;
  background-color: white;
}*/

li.report {
   overflow: auto;
   padding-bottom: 1rem;
}

.report-image-big {
  width: 100%;
  padding-bottom: 1rem;
  margin-top: 15px;
}

.submit-comment {
  width: 100%;
}

.comment-text-input {
  height: 6rem;
  width: 100%;
}

.tag-list {
  list-style: none;
  list-style-position: inside;
  display: inline
}

.tags {
  float: left;
  padding-right: 0.5rem;
}

.comment-list {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
  padding-top: 0;
  border-top: 1px solid #333;
  margin-bottom: 1rem;
}

.comment {
  border-bottom: 1px solid #333;
  padding-top: 1rem;
  color: #333;
}

.comments-list-div h4 {
  text-align: center;
}

.new-comments-form-div h4 {
  text-align: center;
}

.report-detail-hide {
/*  position: absolute;
  top: 0;
  right: 15px;*/
  float: right;
  padding-top: 15px;
}

.glyphicon.glyphicon-minus {
    font-size: 2.5rem;
    color: #333;
}

/* styles for report map legend */

.report-map-legend {
  padding-top: 15px;
}

.report-map-legend ul {
  padding: 0;
  width: 100%;
}

.report-map-legend ul li {
  display: inline-block;
  width: 49%;
  padding: 0;
  margin: 0;
}

.report-map-legend ul li p {
  display: inline-block;
  padding-left: 1em;
  font-size: 3vw;
}

.recent-reports-form {
  padding-top: 15px;
}

.info-window-thumb {
  display: inline-block;
  width: 8rem;
  float: left;
}

.info-window-text {
  display: inline-block;
  float: left;
  width: 7rem;
  margin-left: 1rem;
}

.upload-preview-image {
  display: block;
  width: 100%;
}

.negative-left-margin {
  margin-left: -15px;
}

/* tablet */
@media (min-width: 768px) {
  .report-map-legend ul li p {
    font-size: 1.2em;
  }
}

/* desktop */
@media (min-width: 992px) {
  .report-map-legend ul li p {
    font-size: 1.2em;
  }
}

/* large desktop */
@media (min-width: 1200px) {
  .report-map-legend ul li p {
    font-size: 1.2em;
  }
}
