/* styles for fuzzfinders page */

/* s3 upload styles */
.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding: 0.2em;
  color:   white;
  display: none;
}

/*google maps search input bar*/
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.map-canvas {
  width: 100%;
  height: 22rem;
}

/* reports list styles */
h3 {
  text-align: center;
}

.report {
  margin-bottom: 3%;
  border-radius: 3px;
}

.reports-list {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}

.lost-report {
  background-color: rgb(223, 131, 97);
}

.found-report {
  background-color: #2e8df2;
}

.lost-report-comment {
  background-color: #E9A890;
}

.found-report-comment {
  background-color: #82BBF7;
}

.report-img-thumb {
  width: 100%;
}

.report-summary {
  height: 6em;
}

.report-summary-text {
  font-size: 1.2rem;
}

li {
  overflow: auto;
  padding-bottom: 1rem;
}

.report-image-big {
  width: 100%;
  padding-bottom: 1rem;
}

.submit-comment {
  width: 100%;
}

.comment-text-input {
  height: 6rem;
  width: 100%;
}

.tag-list {
  list-style: none;
  list-style-position: inside;
  display: inline
}

.tags {
  float: left;
  padding-right: 0.5rem;
}

.comment-list {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
  padding-top: 1rem;
  border-top: 1px solid #6d6e71;
  margin-bottom: 1rem;
}

.comment {
  border-bottom: 1px solid #6d6e71;
  color: #333;
}