/* Color Palette */
/* #f37057 - logo orange */
/* #6d6e71 - logo dark gray */
/* #9d9fa2 - logo light gray */
/* #eee - signup/in offwhite border */

/* tag line */
.tagline {
  color: #6d6e71;
	font-family: arial,helvetica;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: #f37057 6px solid;
}

/* sign in form */
.sign-in-form-container {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #eee;
  text-align: center;
  padding: 1.25rem;
  margin-top: 2rem;
}

.sign-in-form-container > h2 {
  color: #f37057;
}
.sign-form-swap {
  display: block;
  padding-top: 2rem;
}

.inline-photo{
  width: 75%;
  padding: 1rem 0;
  display: inline-block;
  margin-bottom: 1rem;
}

.copyright {
  font-size: 0.8rem;
  float: left;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 0.4rem;
}

.navbar-fixed-bottom {
  max-height: 85px;
}

#footer-body {
  background-color: white;
  font-size: 1rem;
}

/* tablet */
@media (min-width: 768px) {
  .public-sidebar {
    display: none;
  }
}

/* desktop */
@media (min-width: 992px) {
  .public-sidebar {
    display: none;
  }
}

/* large desktop */
@media (min-width: 1200px) {
  .public-sidebar {
    display: none;
  }
}