.nav-bar {
	background-color: #ff6633;
	width: 95%;
	height: .5em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.logo-img-container {
	margin-left: auto;
	margin-right: auto;
	/*width:85%;*/
	display: block;
	margin: 2em;
}

.title-info {
	color: #6b6b6b;
	font-family: arial,helvetica;
	text-align: center;
}

.logo-img-lrg {
  display: none;
}

/*sign in form*/
.sign-in-form-container {
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: #eee;
  text-align: center;
  margin: 1.25rem;
  padding: 1.25rem;
}

/* tablet */
@media (min-width: 700px) {
  .title-info {
  	font-size: 1.6em;
  	font-style: italic;
  }

  .logo-img-mobile {
  	display: none;
  }

  .logo-img-lrg {
  	display: block;
  	margin: 2em;
  }

	.logo-img-container {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}

	.sign-in-form-container {
		width: 50%;
	}
}

/* desktop */
@media (min-width: 1200px) {
	.sign-in-form-container {
		width: 30%;
	}

	.logo-img-container {
		width: 35%;
		margin-left: auto;
		margin-right: auto;
	}
}



