<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="/">FuzzFinders</a>
      </li>
      <li>
        <a href="/fuzzfeed">FuzzFeed</a>
      </li>
      <li>
        <a href="/fuzzfile">FuzzFile</a>
      </li>
      <li>
        <a href="#" class="wags">Wags: <%= @wags %></a>
      </li>
      <li>
        <a href="/sign_out">Logout</a>
      </li>
    </ul>
  </div><!-- container -->
</nav>