<div ng-controller="NotificationsController" class="ng-cloak">

<script id="notifications-report-detail-template" type="text/x-handlebars-template">

  <div class="report-detail modal_report modal_report_{{report.id}}">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span class="report-detail-hide glyphicon glyphicon-minus" style="display: none;"></span>
    </div>
    {{#if report.img_url}}<div class="report-image-div-big col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="{{report.img_url}}" class="report-image-big">
    </div>{{/if}}

    {{#if report.lat}}
      {{#if report.lng}}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="report-detail-map-canvas map-canvas"></div>
        </div><!-- col -->
      {{/if}}
    {{/if}}
    <div class="report-detail-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4> {{> reportDetailTitle report=report }}</h4>

      {{> reportField report=report property='pet_size' key='Size'}}
      {{> reportField report=report property='color' key='Color'}}
      {{> reportField report=report property='breed' key='Breed'}}
      {{> reportField report=report property='sex' key='Sex'}}
      {{> reportField report=report property='age' key='Age'}}
      {{> reportField report=report property='notes' key='Notes' notTitleize=true}}

      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <p><strong>Last Seen:</strong></p>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <p>
            <span class="time">
              {{#if report.last_seen}}
                {{report.last_seen}}
              {{else}}
                {{report.created_at}}
              {{/if}}
            </span>

            <span class="time-ago"></span>
          </p>
        </div>
      </div>

      {{> reportField report=report property='report_username' key='Posted By' notTitleize=true}}
    </div>
  </div>
  {{#if tags}}
    <div class="tags-div col-xs-12 col-sm-12 col-md-12 col-lg-12 negative-left-margin">
      <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><strong>Tags</strong></p>
      <ul class="tag-list col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{#each tags}}
          <li class="tags">
            <p class="btn btn-default btn-xs">{{lowercase this.name}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <div class="comments-list-div col-xs-12 col-sm-12 col-md-12 col-lg-12" data-reportid="{{report.id}}" {{#if comments}}{{else}}style="display: none"{{/if}}>
    <h4>Comments</h4>
    <ul class="modal_report_comments comment-list" data-reportid="{{report.id}}">
      {{#each comments}}
        {{> comment comment=this }}
      {{/each}}
    </ul>
  </div>

  <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info"></h4>
  </script>

  <div class="notification">
    <ul ng-repeat="n in notifications">
      <li ng-click="showModalWithReport(n)" data-report-id="{{n.report_id}}" class="fuzzflash_{{n.report_id}} {{n.report_type}}">{{n.message}}</li>
    </ul>
  </div><!-- notification -->
</div>
