<div class="sidebar-container public-sidebar">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <% if session[:user] && session[:user]['id'] %>
          <li><a href="/">FuzzFinders</a></li>
        <% else %>
          <li><a href="/sign_in?backUrl=<%= request.fullpath %>">Log In</a></li>
        <% end %>

        <!-- <li><a href="/sign_in">Log In</a></li> -->
        <li><a href="/fuzzfacts">FuzzFacts</a></li>
        <li><a href="/fuzzfable">FuzzFable</a></li>
        <li><a href="/fuzzfind_us">FuzzFind...Us!</a></li>
      </ul>
    </div><!-- #sidebar-wrapper -->
    <!-- Page Content -->
    <a href="#" class="btn btn-default" id="menu-toggle">
      <span class=" glyphicon glyphicon-align-justify"></span>
    </a>
  </div><!-- #wrapper -->
</div>
