<footer class="footer public-footer">
  <div class="navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
          <div class="navbar-collapse collapse" id="footer-body">
            <ul class="nav navbar-nav">
              <li><a href="/sign_in">Sign In</a></li>
              <li><a href="/fuzzfacts">FuzzFacts</a></li>
              <li><a href="/fuzzfable">FuzzFable</a></li>
              <li><a href="/fuzzfind_us">FuzzFind...Us!</a></li>
            </ul>
            <p class="copyright">&copy; 2015 FuzzFinders. *Trademark Pending with U.S. Patent and Trademark Office</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>