<div class="row">
  <div class='col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 logo-section'>
    <img src="/images/FuzzFinders_Logo_med.png" alt="Fuzz Finders" id="main-logo">
  </div><!-- logo-section -->
</div><!-- row -->
<div class="row">
  <div class='col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3'>
    <p class="tagline">Leveraging the power of community, technology and social networking to get pets home</p>
  </div><!-- col -->
</div><!-- row -->