<script id="report-list-template" type="text/x-handlebars-template">
  {{#each reports}}
    <li class="report {{report_type}}-report unselected" data-reportid="{{id}}">
      <div class="report-summary padded hide-on-detail-show">
        <div class="row row-eq-height row-no-negative-margins">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img class="report-img-thumb" src="{{#if img_url}}{{img_url}}{{else}}/images/default_thumbnail.jpg{{/if}}">
          </div>
          <div class="col-xs-6 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1 report-summary-text-column">
            <h4>{{titleize report_type}} {{#if animal_type}}{{titleize animal_type}}{{else}}Pet{{/if}} {{#if pet_name}}"{{titleize pet_name}}"{{/if}}</h4>
            <p class="report-summary-text">
              <strong>Last Seen:</strong> <span class="time">{{#if last_seen}}{{last_seen}}{{else}}{{created_at}}{{/if}}</span><span class="time-ago"></span>
            </p>

            <p class="report-summary-text"><strong>Posted By:</strong> {{report_username}}</p>
          </div>
        </div>
      </div>
      <!-- report details go here -->
    </li>
  {{/each}}
</script>

<div class="report-lists">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="padded">Reports in Your Area</h3>
    </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="reports-list" data-currentId= "<%= @user_id %>" >
      </ul>
    </div><!-- col -->
  </div><!-- row -->
</div>

<script id="report-detail-template" type="text/x-handlebars-template">
  <div class="report-detail">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span class="report-detail-hide glyphicon glyphicon-minus" style="display: none;"></span>
    </div>
    {{#if report.img_url}}<div class="report-image-div-big col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="{{report.img_url}}" class="report-image-big">
    </div>{{/if}}

    {{#if report.lat}}
      {{#if report.lng}}
        {{#unless modal}}
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="report-detail-map-canvas map-canvas">
            </div><!-- map-canvas -->
          </div><!-- col -->
        {{/unless}}
      {{/if}}
    {{/if}}
    <div class="report-detail-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {{#unless modal}} <h4> {{> reportDetailTitle report=report }} </h4> {{/unless}}

      {{> reportField report=report property='pet_size' key='Size'}}
      {{> reportField report=report property='color' key='Color'}}
      {{> reportField report=report property='breed' key='Breed'}}
      {{> reportField report=report property='sex' key='Sex'}}
      {{> reportField report=report property='age' key='Age'}}
      {{> reportField report=report property='notes' key='Notes' notTitleize=true}}

      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <p><strong>Last Seen:</strong></p>
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <p>
            <span class="time">
              {{#if report.last_seen}}
                {{report.last_seen}}
              {{else}}
                {{report.created_at}}
              {{/if}}
            </span>

            <span class="time-ago"></span>
          </p>
        </div>
      </div>

      {{> reportField report=report property='report_username' key='Posted By' notTitleize=true}}
    </div>
  </div>
  {{#if tags}}
    <div class="tags-div col-xs-12 col-sm-12 col-md-12 col-lg-12 negative-left-margin">
      <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><strong>Tags</strong></p>
      <ul class="tag-list col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{#each tags}}
          <li class="tags">
            <p class="btn btn-default btn-xs">{{lowercase this.name}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#unless modal}}
    <div class="comments-list-div col-xs-12 col-sm-12 col-md-12 col-lg-12" data-reportid="{{report.id}}" {{#if comments}}{{else}}style="display: none"{{/if}}>
      <h4>Comments</h4>
      <ul class="comment-list" data-reportid="{{report.id}}">
        {{#each comments}}
          {{> comment comment=this }}
        {{/each}}
      </ul>
    </div>
  {{/unless}}

  <h4 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 info"></h4>

  <div class="new-comments-form-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Create Comment</h4>
    <form class="new-comment-form">
      <input type="hidden" name="comment[report_id]" value="{{report.id}}">
      <input type="hidden" name="comment[user_id]" value="<%= @user_id %>">
      <textarea data-reportId={{report.id}} name="comment[content]" class='comment-text-input'></textarea><br>
      <input data-reportid={{report.id}} type="submit" class="submit-comment btn btn-default" value="Comment">
    </form>
  </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
  <li class="comment" data-commentid="{{comment.id}}" data-reportid="{{comment.report_id}}" data-userid="{{comment.user_id}}">
    <p class="comment-content">{{comment.content}}
    </p>
    <p class="comment-data"><strong>Comment By:</strong> {{comment.comment_username}}
    </p>
    <p class="comment-date"><strong>Posted:</strong> <span class="time">{{comment.created_at}}</span><span class="time-ago"></span>
    </p>
  </li>
</script>

<script id="info-window-template" type="text/x-handlebars-template">
  <div class="info-window-content" data-reportid="{{report.id}}">
    {{#if report.img_url}}
      <img class="info-window-thumb" src="{{report.img_url}}">
    {{/if}}

    <p class="info-window-text">{{> reportDetailTitle report=report}}</p>
  </div>
</script>

<script id="report-detail-title-template" type="text/x-handlebars-template">
  {{titleize report.report_type}}
  {{#if report.animal_type}}
    {{titleize report.animal_type}}
  {{else}}
    Pet
  {{/if}}
  {{#if report.pet_name}}
    "{{titleize report.pet_name}}"
  {{/if}}
</script>

<script id="report-field-template" type="text/x-handlebars-template">
  {{#if (lookupProp report property)}}
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <p><strong>{{key}}:</strong></p>
      </div>

      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{#if notTitleize}}
          {{lookupProp report property}}
        {{else}}
          {{titleize (lookupProp report property)}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</script>
