<div class="report-lists" >
  <div class="padded">
    <h3>Reports in Your Area</h3>
  </div>
  <ul class="reports-list" data-currentId= "<%= @user_id %>" >
    <script id="report-list-template" type="text/x-handlebars-template">
      {{#each reports}}
        <li class="report {{report_type}}-report" data-reportid="{{id}}">
          <div class="report-summary padded">
            <div class="report-thumbnail-column col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <img class="report-img-thumb" src="{{#if img_url}}{{img_url}}{{else}}/images/default_thumbnail.jpg{{/if}}">
            </div>
            <div class="report-summary-text-column col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h4>{{titleize report_type}} {{#if animal_type}}{{titleize animal_type}}{{else}}Pet{{/if}} {{#if pet_name}}"{{titleize pet_name}}"{{/if}}</h4>
              <p>Last Seen: {{#if last_seen}}{{last_seen}}{{else}}{{created_at}}{{/if}}</p>
            </div>
          </div>
        </li>
      {{/each}}
    </script>
  </ul>
</div>

<script id="report-detail-template" type="text/x-handlebars-template">
  <div class="report-detail">
    {{#if report.img_url}}<div class="report-image-div-big col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="{{report.img_url}}" class="report-image-big">
    </div>{{/if}}
    <div class="report-detail-text col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {{#if report.size}}
        <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Size:</p>
        <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{titleize report.size}}</p>
      {{/if}}
      {{#if report.color}}
        <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Color:</p>
        <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{titleize report.color}}</p>
      {{/if}}
      {{#if report.breed}}
        <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Breed:</p>
        <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{titleize report.breed}}</p>
      {{/if}}
      {{#if report.sex}}
        <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Sex:</p>
        <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{titleize report.sex}}</p>
      {{/if}}
      {{#if report.age}}
        <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Age:</p>
        <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{titleize report.age}}</p>
      {{/if}}
      {{#if report.notes}}
          <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Notes:</p>
          <p class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{report.notes}}</p>
      {{/if}}
    </div>
  </div>
  {{#if tags}}
    <div class="tags-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Tags</p>
      <ul class="tag-list col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {{#each tags}}
          <li class="tags">
            <p class="btn btn-default btn-xs">{{lowercase this.name}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  <div class="comments-list-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="comment-list">
      {{#each comments}}
        <li class="comment">
          <div class="comment-username col-xs-4 col-sm-4 col-md-4 col-lg-4">

          </div>
          <div class="comment-content">
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="new-comments-form-div col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form>
      <input type="hidden" name="comment[{{id}}]" class='report-id'>
      <input type="hidden" name="comment[{{user_id}}]" class='current-user-id'>
      <textarea data-reportId={{id}} name='comment[content]' class='comment-{{id}} comment-text-input'></textarea><br>
      <button data-id={{id}} type="button" class="submit-comment btn btn-default">Comment</button>
    </form>
  </div>
</script>