<div class="reports-filter">
  <button class="btn-block main-buttons filter-btn">Filter</button>
  <form class="recent-reports-form" style="display: none">
    <input type="hidden" name="sw" value="">
    <input type="hidden" name="ne" value="">
    <input type="submit" class="btn btn-block btn-default" value="Filter">
  </form>
</div>