<div class="report-map-legend">
  <ul>
    <li>
      <img src="/images/FuzzFinders_icon_orange.png" alt="Fuzzfinders lost pet icon"><p>Lost Pet Report</p>
    </li>
    <li>
      <img src="/images/FuzzFinders_icon_blue.png" alt="Fuzzfinders found pet icon"><p>Found Pet Report</p>
    </li>
  </ul>
</div><!-- report-map-legend -->