<div class="report-lists" >
  <div class="padded">
    <h3>Reports in Your Area</h3>
  </div>
  <ul class="reports-list" data-currentId= "<%= @user_id %>" >
    <script id="report-template" type="text/x-handlebars-template">
      {{#each reports}}
        <li class="report {{report_type}}-report" data-reportid="{{id}}">
          <img class="report_img" src="{{img_url}}">
          {{#if pet_name}} <p class="pet_name">Name: {{pet_name}}</p>{{/if}}
          <p class="animal_type">Animal type: {{animal_type}}</p>

          <div class='more-report-info-{{id}} more-report-info' style="display: none">
            <p class="last_seen">Reported date: {{updated_at}}</p>
            {{#if img_url}} <p class="pet_img_url">Photo: <img src='{{img_url}}'></p>{{/if}}
            {{#if age}} <p class="pet_age">Age: {{age}}</p>{{/if}}
            {{#if breed}} <p class="pet_breed">Breed: {{breed}}</p>{{/if}}
            {{#if color}} <p class="pet_color">Color: {{color}}</p>{{/if}}
            {{#if sex}} <p class="pet_sex">Sex: {{sex}}</p>{{/if}}
            {{#if size}} <p class="pet_age">Age: {{age}}</p>{{/if}}
            {{#if notes}} <p class="pet_notes">Details: {{notes}}</p>{{/if}}
          </div>
        </li>
        <div class="comment-div-{{id}} comment-div" style={{#if itsfound }}
            "background-color: #82BBF7;"
          {{else}}
            "background-color: #E9A890;"
          {{/if}}>
          <div class="comment-list-{{id}}">
          </div>
          Comment:<br>
          <input type="hidden" name="comment[{{id}}]" class='report-id' />
          <input type="hidden" name="comment[{{user_id}}]" class='current-user-id' />
          <textarea data-reportId={{id}} name='comment[content]' class='comment-{{id}}'></textarea><br>
          <button data-id={{id}} type="button" class="submit-comment">Submit</button>
        </div>
      {{/each}}
    </script>
  </ul>

  <script id="comment-template" type="text/x-handlebars-template">
    {{#each comments}}
      <p class='comment-list'>{{comment_user_email}} says "{{content}}" <br/> {{updated_at}}</p>
    {{/each}}
  </script>


</div>