<div class="sidebar-container">
  <div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="/">FuzzFinders</a>
        </li>
        <li>
          <a href="/fuzzfile">FuzzFile</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FuzzFlash <span class="glyphicon glyphicon-cog"></span></a>

          <ul class="dropdown-menu adjust-distance">
            <li><span class="title">Alert Area</span></li>
            <li data-miles="1.5"><a href="#">1.5 miles</a></li>
            <li data-miles="5"><a href="#">5&nbsp;&nbsp;miles</a></li>
            <li data-miles="10"><a href="#">10 miles</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="wags">Wags: <%= wags %></a>
        </li>
        <li>
          <a href="/sign_out">Log Out</a>
        </li>
      </ul>
    </div><!-- #sidebar-wrapper -->
    <!-- Page Content -->
    <a href="#" class="btn btn-default" id="menu-toggle">
      <span class=" glyphicon glyphicon-align-justify"></span>
    </a>
  </div><!-- #wrapper -->
</div>
