<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1 class="hidden">FuzzFable</h1>
    <div class="sign-in-form-container">
      <p>Like all <del>good</del> great ideas, the idea for Fuzzfinders was born from true life!</p>

      <p>When we adopted our first kitty, Josie, we were thrilled!</p>
      <img class="inline-photo" src="images/Josie2a.jpg" alt="Josie the Cat">

      <p>Josie was either lost or abandoned by her previous owner when she was 2 years old. She was on the streets for nearly a year during a cold and rainy winter.</p>

      <p>She had such a traumatic and difficult first few years that when she came to live with us, she spent the first 6 months cowering under a chair.</p>

      <p>We made it our vow to nurture her and love on her so she could feel safe in the world.</p>

      <p>Because of her rough start in life, we wanted her to be indoors only. We lived on a busy street and the neighborhood was already overrun with cats.</p>

      <p>Like good cat parents, we took the precaution of putting screens on all windows except one in the bedroom - that window could only be opened a few inches so we thought it would be fine.</p>

      <p>Big mistake! One hot afternoon, Josie maneuvered herself out the window and was gone. By the time we figured this out, she could have been anywhere!</p>

      <p>We searched the neighborhood over and over again, but were unable to find her.</p>

      <p>We were sick to our stomachs when we thought of our precious wee girl out on the streets all alone having to fend for herself. She would have been terrified!</p>

      <p>Seeing our desperation, a neighbor who was out in her garden came over to us. She said that she thought she saw a ginger cat in the yard behind an unoccupied house across the street. We sprinted over and searched the yard. When we looked in the old abandoned tool shed, we saw Josie’s sweet little face peering up at us.</p>

      <p>After that event, we began to notice all of the lost pet flyers in the neighborhood. It got us thinking about what could be done to help people find their beloved four-legged family members.</p>

      <p>We came to the conclusion that if people could help spot missing pets and communicate that information easily and quickly, that just about everyone would be willing to help.</p>

      <p>Inspiration strikes and an app is born...FuzzFinders!!!</p>

      <p>FuzzFinders uses geotagging, location based searches, notifications and a network of fellow animal enthusiasts and good Samaritans to get lost pets home.</p>

      <p>Helping animals makes you feel great. We love this project and would love for you to become a FuzzFriend - Sign up, spread the word, promote, etc...</p>

      <p>With over ten million pets reported missing each year, let’s all come together to get those Fuzzies home!</p>
    </div>
  </div>
</div>