<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="sign-in-form-container">
      <h1 class="hidden">FuzzFacts</h1>
      <h2>Who We Are</h2>
      <p>At FuzzFinders.com, we love animals! We love people who love animals! We love people who have a friend who has a cousin who loves animals...you get the picture!!!</p>

      <p>Animals help us tap into love, compassion and joy through their innocence and purity of heart. It is their ability to love unconditionally that allows us to experience a deep sense of connection. They bring us together in shared humor when they are funny and in shared purpose when they are in need.</p>

      <p>At FuzzFinders, we want to empower this shared purpose and give people the tools to come together and help each other. One of these tools is a mobile web app for missing pets. The FuzzFinders app allows friends and neighbors (FuzzFriends) to easily and quickly post alerts (FuzzFlashes) about lost or found pets in their area.</p>

      <p>FuzzFlashes allow owners to track a lost pet and let FuzzFriends upload sightings of a found pet with a few simple clicks.</p>

      <p>When helping someone is this easy, everyone wants to join in!</p>

      <p>We could talk all day about how awesome the app is, but why don't you see for yourself...check out our video showing the FuzzFinders app in action:</p>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/143701804" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>The FuzzFinders web app is free for everyone and allows users to:</p>
      <p>Send out mobile alerts for missing pets</p>
      <p>Reunite lost pets with their owners through location-based searches and notifications</p>
      <p>Host a forum for discussing all things that relate to your furry four-legged family member - Need a doggy play date A.K.A. FuzzFrolic? No problem!</p>
      <p>Help shelter animals find their forever homes</p>
      <p>Let's all work together and get Fifi and Fido home where they belong!</p>
      <h2>Wave your paws in the air!</h2>
    </div>
  </div>
</div>