<div class="sidebar-container">
  <%= erb :'partials/_sidebar' %>
</div>
<div class="container">
  <div class='notification'>
  </div>
  <div class="row first-panel">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section">
      <img src="/images/FuzzFile_Logo_med.png" alt="FuzzFile" id="main-logo">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section">
      <p>Wags</p>
      <p class="wags"><%= @wags %></p>
    </div>
  </div>
  <div class="fuzzfile">
    <div class="row">
      <p>user info will go here</p>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/fuzzfile.js"></script>