<div class="sidebar-container">
  <%= erb :'partials/_sidebar' %>
</div>
<div class="container">
  <div class='notification'>
  </div>
  <div class="row first-panel">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section">
      <img src="/images/FuzzFeed_Logo_med.png" alt="FuzzFeed" id="main-logo">
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section">
      <p>Wags</p>
      <p class="wags"><%= @wags %></p>
    </div>
  </div>
  <div class="row">
    <button class="btn-block main-buttons create-article-form">Create Article</button>
    <form class="new-article" action="http://localhost:3000/api/v1/articles" method="post">
      <input type="text" name="article[title]" placeholder="Enter a title">
      <br />
      <textarea name="article[content]" placeholder="Enter article content here"></textarea><br />
      <input type="text" name="article[all_tags]">
      <input type="submit" value="Submit">
    </form>
  </div>
  <ul class="articles-list">
    <script id="article-template" type="text/x-handlebars-template">
      {{#each articles}}
        <li class="article" data-article-id="{{id}}">
          <h4 class="title">{{title}}</h4>
          <p class="content">{{content}}</p>
        </li>
      {{/each}}
    </script>
  </ul>

  <script id="remark-template" type="text/x-handlebars-template">
    <p>{{content}}</p>
  </script>


</div>

<script type="text/javascript" src="/js/fuzzfeed.js"></script>