<div class="sidebar-container">
  <%= erb :'partials/_sidebar' %>
</div>

<div class="page-container">
  <h1>FuzzFeed</h1>

  <h2>Create Article</h2>
  <form class="new_article" action="http://localhost:3000/api/v1/articles" method="post">
    <h3>Article Title:</h3>
    <input type="text" name="article[title]" placeholder="Enter a title">
    <br />
    <textarea name="article[content]" placeholder="Enter article content here"></textarea><br />
    <input type="submit" value="Submit">
  </form>

  <ul class="articles-list">
    <script id="article-template" type="text/x-handlebars-template">
      {{#each articles}}
        <li class="article" data-article-id="{{id}}">
          <h4 class="title">{{title}}</h4>
          <p class="content">{{content}}</p>
        </li>
      {{/each}}
    </script>
  </ul>

  <script id="remark-template" type="text/x-handlebars-template">
    <p>{{content}}</p>
  </script>


</div>

<script type="text/javascript" src="/js/fuzzfeed.js"></script>