<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1 class="hidden">FuzzFind...Us!</h1>
    <div class="sign-in-form-container">
      <h2>Contact Us</h2>
      <img class="inline-photo" src="images/Contact_Image.jpg">
      <p>Email: <a href="mailto:info@fuzzfinders.com" alt="email fuzzfinders">info@fuzzfinders.com</a></p>
    </div>
  </div>
</div>