<div class="container chat-padding">
  <%= erb :'partials/_public_logo', :layout => false %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <h1>FuzzFacts</h1>
    </div>
  </div>
  <%= erb :'partials/_public_footer', :layout => false %>
</div>