<div class="sidebar-container">
  <%= erb :sidebar %>
</div>
<div class="container">
  <div class='notification'></div>
<div class="row first-panel">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 logo-section">
    <img src="/images/FuzzFinders_RGB_Final.png" alt="Fuzz Finders" id="main-logo">
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 wags-section">
    <p>Wags</p>

    <p class="wags"> </p>
  </div>
</div>

  <div class="options-buttons">
    <div class="row">
      <button class="btn-block main-buttons lost-pet">Lost a Pet</button>
      <div id="lost-pet">
        <form class="lost-pet-form" >

          <div class="form-group">
            <input type="file" class="directUpload">
          </div>
          <input type="hidden" class="img_url" name="report[img_url]" value=""/>
          <input type="hidden" name="report[report_type]" value="lost">
          <input type="hidden" name="report[user_id]" value="<%= @user_id %>">

          <div class="form-group">
            <select name="report[animal_type]" class="form-control">
              <option value="">Pet Type</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="bird">Bird</option>
              <option value="reptile">Reptile</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lost-pet-breed" placeholder="Pet Breed" name="report[breed]">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lost-pet-name" placeholder="Pet Name" name="report[pet_name]">
          </div>
          <div class="form-group">
            <select name="report[sex]" class="form-control">
              <option value="">Sex</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <select name="report[size]" class="form-control">
              <option value="">Size</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="x-large">Extra Large</option>
            </select>
          </div>
          <div class="form-group">
            <select name="report[age]" class="form-control">
              <option value="">Age</option>
              <option value="Baby">Baby</option>
              <option value="young">Young</option>
              <option value="adult">Adult</option>
              <option value="senior">Senior</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lost-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="report[tags]">
          </div>
          <div class="form-group">
            <textarea name="report[notes]" class="form-control" id="lost-pet-notes" cols="30" rows="7" placeholder="Describe the incident"></textarea>
          </div>
          <div class="form-group">
            <input class="hidden-lat-field" type="hidden" name="report[lat]" value="">
          </div>
          <div class="form-group">
            <input class="hidden-lng-field" type="hidden" name="report[lng]" value="">

          </div>

          <div id="lost-map-canvas" style="width: 300px; height: 300px;"></div>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="btn-block main-buttons found-pet">Found a Pet</button>
      <div id="found-pet">
        <form class="found-pet-form">


          <input type="hidden" name="report[report_type]" value="found">
          <div class="form-group">
            <select class="form-control">
              <option value="">Pet Type</option>
              <option value="dog">Dog</option>
              <option value="cat">Cat</option>
              <option value="bird">Bird</option>
              <option value="reptile">Reptile</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="found-pet-breed" placeholder="Pet Breed" name="found-pet-breed">
          </div>

          <div class="form-group">
            <select class="form-control">
              <option value="">Sex</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="">Size</option>
              <option value="small">Small</option>
              <option value="medium">Medium</option>
              <option value="large">Large</option>
              <option value="extra large">Extra Large</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="">Age</option>
              <option value="Baby">Baby</option>
              <option value="young">Young</option>
              <option value="adult">Adult</option>
              <option value="senior">Senior</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="found-pet-tags" placeholder="Additional Tags, i.e. timid, brown ears" name="found-pet-tags">
          </div>
          <div class="form-group">
            <textarea name="notes" class="form-control" id="found-pet-notes" cols="30" rows="7" placeholder="Describe the incident"></textarea>
          </div>
          <div class="form-group">
            <input class="hidden-lat-field" type="hidden" name="lat" value="">
          </div>
          <div class="form-group">
            <input class="hidden-lng-field" type="hidden" name="lng" value="">

          </div>

          <div id="found-map-canvas" style="width: 300px; height: 300px;"></div>


          <button type="submit" class="btn btn-default">Submit</button>
        </form>



      </div>
    </div>
    <div class="row">
      <button class="btn-block main-buttons report">Reports</button>
      <div id="reports-map-container"><input id="pac-input" class="controls" type="text"
        placeholder="Search near a location">
        <div id="report-map-canvas" style="width: 300px; height: 300px;"></div>

      </div>
    </div>
    <div class="chat">
      <a href="#">Chat</a>
    </div>
  </div>

  <%= @user %>

</div>



