<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css reset -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- vendor styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <link rel="stylesheet" href="/css/fuzzfeed.css">
    <link rel="stylesheet" href="/css/fuzzfile.css">
    <link rel="stylesheet" href="/css/s3upload.css">
    <link rel="stylesheet" href="/css/google_map.css">
    <link rel="stylesheet" href="/css/sign-in.css">
    <link rel="stylesheet" href="/css/pusher-chat-widget.css">

    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script src="/js/PusherChatWidget.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/js/handlebars-v3.0.3.js"></script>
    <script src="/js/jquery.ui.widget.js"></script>
    <script src="/js/jquery.iframe-transport.js"></script>
    <script src="/js/jquery.fileupload.js"></script>
    <script src="/js/s3upload.js"></script>

    <title>
        <%= @page_title %>
    </title>
    <%= include_gon %>
  </head>
  <body>
    <%= yield %>
    <script src="/js/application.js"></script>
    <script src="/js/signInUp.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/fuzzfinders.js"></script>
    <script src="/js/PusherChatWidgetInstantiator.js"></script>
    <script src="/js/googleMapReports.js"></script>
    <script src="/js/googleMapLost.js"></script>
    <script src="/js/googleMapFound.js"></script>
    <script src="/js/fuzzflash.js"></script>
  </body>
</html>
