<nav></nav>

<div class="row">

	<img src="#" alt="Fuzz Finders">

	<p>Wags</p>

	<p class="wags">

</div>

<div class="row">
	<button class="btn-lg">Lost a Pet</button>
</div>
<div class="row">
	<div class="btn-lg">Found a Pet</div>
</div>
<div class="row">
	<div class="btn-lg">Reports</div>
</div>

<div class="chat pull-right">Chat</div>

