<%= erb :sidebar %>
<div class="container">
  <div class="row">

  	<img src="#" alt="Fuzz Finders">

  	<p>Wags</p>

  	<p class="wags"> </p>

  </div>

  <div class="row">
  	<button class="btn-lg">Lost a Pet</button>
  </div>
  <div class="row">
  	<button class="btn-lg">Found a Pet</button>
  </div>
  <div class="row">
  	<button class="btn-lg">Reports</button>
  </div>

  <div class="chat pull-right">Chat</div>

</div>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>