<% content_for :title do %>
  Report not found - FuzzFinders
<% end %>

<div class="report-lists ng-cloak" ng-controller="ReportsController">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 class="padded">Report not found</h3>
    </div><!-- col -->
  </div><!-- row -->
</div>

