<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          FuzzFinders
        </a>
      </li>
      <li>
        <a href="/fuzzfeed">FuzzFeed</a>
      </li>
      <li>
        <a href="#">Profile</a>
      </li>
      <li>
        <a href="/sign_out">Logout</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <span class=" glyphicon glyphicon-align-justify"></span>
  </a>
</div>

